[MASTER]
disable=
    # C,R, # (convention and refactor):
    missing-module-docstring,
    missing-function-docstring,
    line-too-long,
    invalid-name,
    logging-not-lazy,
    broad-except,
    protected-access,
    C0330,
    too-many-arguments,
    bare-except,
    empty-docstring,
    too-many-nested-blocks,
    too-many-branches,
    no-self-use,
    too-many-locals,
    no-else-raise,
    no-else-return


dummy-variables-rgx=_|pagination_item